<!-- HEADER -->
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> +375(29)232-64-06</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> 2326406@gmail.com</a></li>
        <li>
          <a href="https://yandex.by/maps/158/mogilev/house/Z0kYdQBoTUUOQFtpfXR5dXhiZw==/?ll=30.380201%2C53.883547&z=16.63"><i
              class="fa fa-map-marker"></i> г.Могилев, ул. Фатина 4е, офис 53</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a href="/account"><i class="fa fa-user-o"></i> Мой аккаунт</a></li>
        <li><a href='/order/history'><i class="fa fa-fw fa-shopping-cart"></i> История заказов</a></li>
        <li><a href='/cart'><i class="fa fa-fw fa-shopping-cart"></i> Корзина</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- LOGO -->
        <div class="col-md-3">
          <div class="header-logo">
            <a href="/main" class="logo">
              <!-- !!!!!!!!!!!!!!! -->
              <img src="../../img/logot.png" alt="">
            </a>
          </div>
        </div>
        <!-- /LOGO -->

        <!-- SEARCH BAR -->
        <div class="col-md-6">
          <div class="header-search">
            <form action="/search" method="get">
              <input type="hidden" name="command" value="search">
              <select class="input-select" name="category">
                <option value="all-category">Все категории</option>
                <option value="phone">Телефоны</option>
                <option value="laptop">Ноутбуки</option>
              </select>
              <input class="input" type="text" name="product-name" placeholder="Название товара">
              <button class="search-btn" type="submit">Поиск</button>
            </form>
          </div>
        </div>
        <!-- /SEARCH BAR -->

        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">

            <!-- Cart -->
            <div class="dropdown">
              <a href="/cart" class="dropdown-toggle">
                <i class="fa fa-shopping-cart"></i>
                <span>Корзина</span>
              </a>

            </div>
            <!-- /Cart -->

            <!-- Menu Toogle -->
            <!-- !!!!!!!!!!!!!!! -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
            <!-- /Menu Toogle -->
          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->
