<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">О нас</h3>
            <p>Наша история началась в 2023 году, когда основатель нашего магазина решил создать место, где
              люди могут найти эксклюзивные товары, которые невозможно найти в других магазинах.</p>
            <ul class="footer-links">
              <li>
                <a href="https://yandex.by/maps/158/mogilev/house/Z0kYdQBoTUUOQFtpfXR5dXhiZw==/?ll=30.380201%2C53.883547&z=16.63"><i
                    class="fa fa-map-marker"></i>г.Могилев ул.Фатина 4е, офис 53</a></li>
              <li><a><i class="fa fa-phone"></i>+375(29)232-64-06</a></li>
              <li><a><i class="fa fa-envelope-o"></i>2326406@gmail.com</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Категории</h3>
            <ul class="footer-links">
              <li><a href="/category?category=phone">Телефоны</a></li>
              <li><a href="/category?category=laptop">Ноутбуки</a></li>

            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>


        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Сервис</h3>
            <ul class="footer-links">
              <li><a href="/account">Мой аккаунт</a></li>
              <li><a href="/cart">Моя корзина</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->

  <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/slick.min.js"></script>
<script src="../../js/nouislider.min.js"></script>
<script src="../../js/jquery.zoom.min.js"></script>
<script src="../../js/main.js"></script>